<h1>Ember Simple Blog</h1>

<div class="new-post">
  <h2>New post</h2>
  {{textarea value=author cols="60" rows="1" placeholder="Author"}}
  {{textarea value=title cols="60" rows="1" placeholder="Title"}}
  {{textarea value=post cols="60" rows="5" placeholder="Body post"}}
  <button class="right" {{action 'publishNewPost'}}>Create</button>
</div>


{{#each model as |post|}}
  {{blog-post post=post}}
{{/each}}
